<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="stylesheets/stylesheet.css">
  </head>
  <body>
    <nav class="main-nav">
      <ul>
	<li><a href="/">Home</a></li>
	<li><a href="/About.html">About</a></li>
	<li><a href="/Quickstart.html">Getting Started</a></li>
	<li><a href="/New.html">Whats New?</a></li>
	<li><a href="/FAQ.html">Frequently Asked Questions</a></li>
	<li><a href="/Guide.html">A Guide through this Site</a></li>
	<li><a href="/Resources.html">A Guide through the SD Infrastructure</a></li>
	<li><a href="/Publications.html">Publications and Presentations</a></li>
      </ul>
    </nav>
    <div class="main-content">
      {{ content }}
    </div>
    <footer>
      <div class="site-footer">
        <p class="center-text"> &copy; The SymbolicData Project, 2016</p>
      </div>
    </footer>
  </body>
</html>
