<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/symbolicdata.css">
  </head>
  <body>
    <nav class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
	<li><a href="/">Home</a></li>
	<li><a href="/About.html">About</a></li>
	<li><a href="/GettingStarted.html">Getting Started</a></li>
	<li><a href="/New.html">Whats New?</a></li>
	<li><a href="/FAQ.html">FAQ</a></li>
	<li><a href="/Guide.html">Site-Guide</a></li>
	<li><a href="/Resources.html">Infrastructure-Guide</a></li>
	<li><a href="/Publications.html">Publications</a></li>
      </ul>
    </nav>
    <div class="container" >
    <div class="jumbotron" >
      {{ content }}
    </div>
    </div>
    <footer>
      <div class="container">
        <p class="center-text"> &copy; The SymbolicData Project, 2016-2018</p>
      </div>
    </footer>
  </body>
</html>
